body {
    width: 100%;
    margin: 0;
}

#root {
    width: 100%;
    font-family: houschka-pro, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.home-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.images-container-login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 420px;
}

.splash-img-1 {
    display: block;
    width: 100%;
    max-width: 1920px;
    min-width: 960px;
    object-fit: cover;
    height: auto;
}

.splash-welcome-user {
    position: absolute;
    top: 250px;
    font-size: 36px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    align-items: center;
}

.splash-welcome-user > p{
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
}

.splash-welcome-user > span {
    margin: 0 20px 0 5px 0;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #FF5500;
}

.splash-button-startup {
    position: absolute;
    top: 250px;
    font-size: 36px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
}

.splash-text > div {
    font-size: 40px;
    font-weight: 600;
}

.splash-text {
    position: absolute;
    top: 120px;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-align: center;
}

.splash-button-startup > p {
    margin: 20px;
}

.get-started-button {
    font-family: houschka-pro, sans-serif;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: #FF5500;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-songs-home {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba(1, 1, 1, .3);
}

.song-card {
    width: fit-content;
    margin: 5px;
    padding: 2px;
}

.song-card > img {
    width: 130px;
}

.audio-payer-container {
    position: fixed;
    bottom: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24, .2);
    padding: 2px 0;
}

#audio-player {
    width: 80%;
}
