.user-profile-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container-user-profile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.user-wall-image {
    display: block;
    width: 100%;
    max-width: 1920px;
    min-width: 960px;
    object-fit: cover;
    height: auto;
}

.user-profile-wall-text {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 36px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    align-items: center;
}

.create-buttons-container {
    position: absolute;
    top: 250px;
    left: 200px;
    font-size: 36px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    align-items: center;
}

.footer {
    margin: 100px 0;

}
