.nav-bar {
    max-width: 1920px;
    width: 100%;
    min-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(rgb(36, 36, 36, .8), rgb(58, 58, 58, 0));
}

.soundcore-home-logo {
    width: 200px;

}

.soundcore-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 15px;
}
.auth-buttons {
    margin: 10px 15px 0 0;
}

.login-button {
    font-family: houschka-pro, sans-serif;
    width: fit-content;
    padding: 0 15px;
    height: 30px;
    background-color: rgb(255, 255, 255, 0);
    border: 1.5px solid white;
    border-radius: 2px;
    font-size: 16px;
    color: white;
    margin: 0 5px;
    font-weight: 300;
}

.signup-button {
    font-family: houschka-pro, sans-serif;
    width: fit-content;
    padding: 0 15px;
    height: 30px;
    background-color: #FF5500;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color: white;
    margin: 0 5px;
    font-weight: 300;
}

.demo-button {
    font-family: houschka-pro, sans-serif;
    width: fit-content;
    padding: 0 15px;
    height: 30px;
    background-color: #FF5500;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color: white;
    margin: 0 5px;
    font-weight: 300;
}

.profile-button-container {
    margin: 10px 15px 0 0;
    width: fit-content;
    color: white;
    background-color: #FF5500;
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-button-container > span {
    font-family: houschka-pro, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 300;
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    font-size: 16px;
    right: 25px;
    top: 60px;
    display: flex;
    flex-direction: column;
}

.my-profile-button {
    padding: 10px 20px 7.5px;
    border: rgb(189, 189, 189) solid;
    border-width: 0 0 1px 0 ;
    text-decoration: none;
    color: black;
}

.logout-button-container {
    padding: 10px 20px 7.5px;
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.logout-button-container > button {
    font-family: houschka-pro, sans-serif;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: 16px;
    color:#FF5500;
}

.home-button-profile-dropdown {
    padding: 10px 20px 7.5px;
    border: rgb(189, 189, 189) solid;
    border-width: 0 0 1px 0 ;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}
